.prompt-filename {
    box-sizing: border-box;
    margin: 0 auto;
    width: 500px;
    height: 100px;
    z-index: 1053;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    padding: 15px 15px;
    border: none;
    overflow: hidden;
    background: #3c3f41;
    font-size: 16px;
}

.prompt-filename-title {
    margin-bottom: 15px;
    color: lightgray;
}

.dark input[type="text"].prompt-filename-input {
    width: 458px;
    border: none;
    background: rgba(0,0,0,.7);
    font-size: 18px;
    line-height: 18px;
    height: 30px;
    color: gray;
}
